.header{
    height:200 px;
   
 
   
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228,228,228 );
   z-index:auto;
}

.image{
    
            width: 100%;
            height: 100%;
            object-fit: cover;
}










